<div class="title" >
	<h3> China</h3>
</div>
</br>

<div class="writing" >
	
</div>

<div class="citations">
	<sub></sub>

	<sub></sub>
</div>

</br>
</br>
</br>
</br>

<%= image_tag('') %>

</br>
</br>
</br>
</br>

<div class="writing">
	<p><b> – </b> </p></br>

	<sub></sub>

</div>