<h3>Citations</h3>
</br>
</br>

<h4>History</h4>
	<div class="citations">
		<sub>Post, Stephen G., “History, Infanticide, and Imperiled Newborns”, The Hastings Center Report, Vol 18. No 4 (Aug - Sep. 1988) pp. 14 – 17</sub>

		<sub>Moseley, Kathryn L., “The History of Infanticide in Western Society”, Issues in Law and Medicine, Vol 1. No 5 March 1986, pp. 345 - 361</sub>

		<sub>Hogarth, William. Gin Lane. Digital image. BBC.com. N.p., 10 June 2015. Web. 9 Apr. 2016.</sub>
	</div>
</br>

<h4>Religion</h4>
<div class="citations">
	<sub>Boswell, John E. "Exposition and Oblation: The Abandonment of Children and the Ancient and Medieval Family." American Historical Review 89 (1984):10–33.</sub>

	<sub>"Female Infanticide." BBC. N.p., n.d. Web. 26 Apr. 2016.</sub>

	<sub>Delacroix, Eugène Ferdinand Victor. Medea Killing Her Sons. 1862. The Yorck Project: 10.000      Meisterwerke Der Malerei., n.p.</sub>
</div>
</br>

<h4>Europe</h4>
	<div class="citations">
		<sub>Wrightson, Keith. “Infanticide in Earlier Seventeenth-Century England”., 
			Local Population Studies, UK. 1975. http://www.localpopulationstudies.org.uk/pdf/lps15/lps15_1975_10-22.pdf.
		</sub>

		<sub>Rose, Lionel., Massacre of the Innocents: Infanticide in Great Britain 1800-1939.,
			Routledge & Kegan Paul Books. January 1st 1986.
		</sub>

		<sub>“The female publicly hanged 1800 – 1868”. capitalpunishmentuk.org. 
			Accessed April 26, 16.
			http://www.capitalpunishmentuk.org/fempublic.html
		</sub>

		<sub>Verlag, Hammer. “Nicaraguan, Massacre of the Innocents”. 
			Spanish Herod, Dutch Innocents: Bruegel's Massacres of the Innocents in their Sixteenth-century Political Contexts. Art History, Feb2001, Vol. 24 Issue 1, p51, 32p, 17 Illustration; found on p53
		</sub>

	</div>
</br>

<h4>Mexico</h4>


</br>

<h4>China</h4>


</br>
