<div class="title" >
	<h3> Europe </h3>
</div>

</br>

<div class="writing" >
	<p>The climate towards infanticide in Europe involved a deep contrast between societies view of the act and the women who felt they had no other choice. Europeans seem to have been horrified that infanticide was occurring in other parts of the world such as China when in reality it was happening there too, if not so publicly. Infanticide is committed in European culture for many reason but it seems the biggest was the shame brought about by having a bastard. If you had a bastard as a woman during the 17th and 18th centuries you were essentially considered a whore and would be hard pressed to find a descent marriage. This led to women keeping their pregnancy secret so that when the child was born they could kill it and have none the wiser. Also, during this time many women were rapped and it’s understandable they wouldn’t want to give birth to the child of the man who rapped her. Without any forms of contraception women felt they had no other choice. In the 17th century Scotland passed a law making it a capital offense for women to kill a bastard baby. The British isles soon followed suit and “205 women and girls were taken to places of public execution and there hanged by the neck until they were dead, in accordance with the sentence of the court”. </p>

	<p>However, in his article on “Infanticide in Earlier Seventeenth-Century England” Keith Wrightson asserts that in previous times infanticide seems to have been recognized as a form of population control. With the expansion of agriculture humanity now had a reason to want every child possible, for the extra hands that were needed for a plethora of jobs related to that agriculture. It makes sense that before that, when humans were more nomadic, that an extra mouth to feed and baby to carry would have been viewed as a negative. Another influence infanticide had all over the world was a disproportionate amount of men to women. It was generally considered that a male was more useful to a family and so if there are only resources for one child and the first is a girl they would commit infanticide in the hopes of having a boy instead. </p>
 
</div>

<div class="citations">
	<sub>Wrightson, Keith. “Infanticide in Earlier Seventeenth-Century England”., 
		Local Population Studies, UK. 1975. http://www.localpopulationstudies.org.uk/pdf/lps15/lps15_1975_10-22.pdf.
	</sub>

	<sub>Rose, Lionel., Massacre of the Innocents: Infanticide in Great Britain 1800-1939.,
		Routledge & Kegan Paul Books. January 1st 1986.
	</sub>

	<sub>“The female publicly hanged 1800 – 1868”. capitalpunishmentuk.org. 
		Accessed April 26, 16.
		http://www.capitalpunishmentuk.org/fempublic.html
	</sub>

</div>

</br>
</br>
</br>
</br>

<%= image_tag('infanticide2.jpg') %>

</br>
</br>
</br>
</br>

<div class="writing">
	<p><b>Nicaraguan massacre of the innocents– </b>This primary source is depicting a Nicaraguan massacre of the innocents. The artist of this piece was a German, Hammer Verlag, who was interpreting the violence that took place in Nicaragua. I chose this piece because it exemplifies how Europe looked at the rest of the world as the ones committing these horrific acts of infanticide while Europe itself was far from innocent. But in this particular instance it isn’t the mothers committing the infanticide it’s the military. This clear disregard for the life of innocents is horrific to behold. It shows that around the world infants are generally regarded as less human than adults. Infants can’t defend themselves, which in my mind makes infanticide one of the worst crimes I can think of.  </p></br>

	<sub>Verlag, Hammer. “Nicaraguan, Massacre of the Innocents”. 
		Spanish Herod, Dutch Innocents: Bruegel's Massacres of the Innocents in their Sixteenth-century Political Contexts. Art History, Feb2001, Vol. 24 Issue 1, p51, 32p, 17 Illustration; found on p53
	</sub>

</div>