<div class="title" >
	<h3> A Brief History of Modern Infanticide </h3>
</div>

</br>

<div class="writing" >
	<p>Infanticide is generally defined as the killing of an infant. Some have referred to it as the “oldest method of human family planning” (Post 15) and it has been practiced by many cultures throughout history at one point or another. While in the modern historical era (1600’s to present day) the practice has been largely abandoned, there are still occurrences that spark emotional debate. For example, Japan practiced infanticide well into the nineteenth century. They called it “mabiki” which is a term used for the practice of thinning rice seedling (Post 14). A child would be smothered with a wet paper over the mouth and nose. India has a deep tradition of female infanticide involving everything from outright physical murder (stabbing with a knife) to tossing children to sharks in the Ganges. The tradition still has roots today. For the most part, infanticide falls into 2 distinct forms throughout history: the killing handicapped children or the killing unwanted, albeit normal, children (Moseley 345).</p> </br>
	<p>Handicapped children were largely targeted because of the challenge to care for them. Some parents felt they could not handle the difficulty that comes with a handicapped child. The time, energy and expense as well the debate over the quality of life are cited concerns. Would the extension of life be a “fate worse than death”? The challenge of taking care of handicapped children is still as much of an issue today as it was in pre-modern times. Advances in technology and knowledge concerning medicine and the human body have gone a long way to assuage those fears, but those fears still persist.</p></br>
	<p>The unwanted children issue is slightly more complicated. Poverty is a common refrain and a serious issue. Social stigma is another common cry. An illegitimate child can bring shame and embarrassment to a family and the pressure can be too hard for some to bear. Sex is another issue. Some cultures, even in to the 20th century, still practiced female infanticide. A son was seen as stronger and able to work and provide as well as pass on the family name and genes. For centuries female children were given up, killed or sold off so as to make room for the possibility of a son.</p></br>
	<p>Infanticide in the modern world still exists. It exists literally and physically in areas like India and parts of Asia and it exists in the debates of the status of the unborn. The issue, while seemingly on the verge of eradication, still remains a concern in the public consciousness. </p></br>
</div>

<div class="citations">
	<sub>Post, Stephen G., “History, Infanticide, and Imperiled Newborns”, The Hastings Center Report, Vol 18. No 4 (Aug - Sep. 1988) pp. 14 – 17</sub>

	<sub>Moseley, Kathryn L., “The History of Infanticide in Western Society”, Issues in Law and Medicine, Vol 1. No 5 March 1986, pp. 345 - 361</sub>
</div>

</br>
</br>
</br>
</br>

<%= image_tag('GinLane.png') %>

</br>
</br>
</br>
</br>

<div class="writing">
	<p><b>Gin Lane by William Hogarth – </b> This print was issued in 1751 by William Hogarth. The print depicts an imaginary “lane” in the very real slum district of St. Giles in London. It depicts a community raised on Gin that has been reduced to depravity, madness, poverty and perversion. Among the many terrible things going on is a woman in the foreground killing her child. Hogarth’s intent is to point out not just the evils of gin but also the repercussions. The image of the woman practicing infanticide is particularly jarring. This is an example of one of the reasons some mothers killed their children. This particular image depicts a mother impoverished and addicted to gin. She is letting her child fall to his or her death because of her state in life. Likewise, on the right hand side is a mother pouring gin into her child’s mouth. This image is not as much an “accurate” depiction as it is an exaggerated one. Exaggerations aside, however, addiction and poverty were very real issues that led to terrible decisions. Infanticide was one of them. The women depicted in this print have been reduced to acts that would be seen as unthinkable today.</p></br>

	<sub>Hogarth, William. Gin Lane. Digital image. BBC.com. N.p., 10 June 2015. Web. 9 Apr. 2016.</sub>

</div>






