<div class="title" >
	<h3> Religion </h3>
</div>
</br>

<div class="writing" >
	<p>Infanticide is the practice of killing a child within a year of birth. Throughout history, infanticide has been used as a practice to restrict poverty and population growth. Infanticide has also been used as an effective way to control starvation and poor standards of living caused by over population. However, religion also had a huge influence on the practice of infanticide. Islam is a religion that encouraged the practice of infanticide. Islam is a religion founded by Muhammad whose members worship the God Allah and follow the teachings of the Koran. In pre-Islamic Arabia, female infanticide was a common practice. However, when Muhammad revolutionized the Islamic religion and the Quran female infanticide became strictly forbidden, and was even considered adult murder in so cases. According to the Quran on female infanticide, “When the infant girl, is buried alive, is questioned, for what crime she was killed” (Surah 81 v8-9); the Quran also mention a small scripture about infanticide as a whole. It stated, “You shall not kill your children for fear of want. We will provide for them and for you. To kill them is a grievous sin” (Surah 17 v 31). Another religion that condemn infanticide was Hinduism. Hinduism is a major religious and cultural tradition in South Asia which was developed from the Vedic religion. In the Hindu culture, men are considered the provider of the family and sons are required for the proper performance of funeral rites. It is often argue that Hindu culture has a strong bias against women. Infant girls were often killed due to this cultural opinion of needing a male in the family. Christianity was strongly against infanticide. Christianity is the religion based on the person/teachings of Jesus. Early on during the fourth century Christianity infused secular laws against infanticide. Christians proclaimed that the killing of a child by the child’s parent is a crime and should be punishable by death. So by the Middle Ages, infanticide was no longer tolerated by either the church or the country Europe. Confucianism is another religion that practiced infanticide (more of female infanticide). Confucianism is a system of philosophical and ethical teachings founded by Confucius. Confucianism religion viewed male children as being more desirable due to the fact that they provided security for the elderly in the family. Overall, many of the religions that practiced infanticide, believed it was needed in order to dispose of female infants which members of these religion deemed inadequate. While other religions considered the practiced of infanticide as a crime. 

</p>
	
</div>

<div class="citations">
	<sub>Boswell, John E. "Exposition and Oblation: The Abandonment of Children and the Ancient and Medieval Family." American Historical Review 89 (1984):10–33.</sub>

	<sub>"Female Infanticide." BBC. N.p., n.d. Web. 26 Apr. 2016.</sub>
</div>

</br>
</br>
</br>
</br>

<%= image_tag('Delacroix.png') %>

</br>
</br>
</br>
</br>

<div class="writing">
	<p><b> Medea Killing Her Sons– </b>This is a picture of Medea killing her sons by Eugene Ferdinand Victor Delacroix in 1862. Medea is a Greek tragedy written by Euripides. This tragedy is about a women named Medea who seeks revenge on her husband, Jason, for leaving her to marry Glauke, the princess of Corinth. In her plot to seek revenge on her ex-husband, she takes the ultimate sacrifice by killing her sons. In this picture you see Medea killing her children through suffocating or stabbing them which are common forms of infanticide. Infanticide was a common practice in both the Greek and Roman culture and can be practiced in many different forms.  Throughout history people killed their infants for many different reasons, whether it be because of poverty, religious reasons, efforts to decreases population growth or in this case revenge. Although it does not necessarily say, one can say by looking at this picture it was probably difficult for Medea to kill her sons off, by the way she avoids looking at them as she suffocates them, but felt it was the only way to make her ex-husband suffer the way she did when he abandon her. Although this does not apply to Medea’s situation of infanticide, most times when infanticide was practiced the husband would often make the mother kill her own infant right after giving birth if the baby was not the gender the family desired. Overall, from this image you can observed a form of infanticide through a mother seeking revenge perspective.  </p></br>

	<sub>Delacroix, Eugène Ferdinand Victor. Medea Killing Her Sons. 1862. The Yorck Project: 10.000      Meisterwerke Der Malerei., n.p.</sub>

</div>